* {
  margin : 0;
  padding : 0;
}
#flex {
  width : 1200px;
  display: flex;
  margin : 0 auto;
}
#container {
  width : 200px;
  margin : 50px 10px;
  text-align: center;
  position: relative;
}

#text {
  position : absolute;
  top : 160px;
  width : 200px;
  height : 40px;
  margin : 0 auto;
  line-height: 35px;
  background: rgba(0,0,0,0.6);
  color : white;
  transition: all 1s ease-in-out;
  z-index : 2;

}
#container:hover #text {
  height : 100px;
  transform: translateY(-100px);
}

